<div class="container">

  <h3 class="center">Here's What We Found:</h3>
    <%= form_tag '/restaurants' do %>

    <% @array.in_groups_of(3, false) do |array| %>
      <div class="row">
      <% array.each do |rest| %>
        <div class="col s4">
          <h5 class="teal-text lighten-3"><%= rest.name %></h5>
          <p>Phone Number: <%= rest.phone %></p>
          <p>Rating: <%= rest.rating %></p>
          <p>City: <%= rest.city %></p>
          <input type="checkbox" id="<%= "restaurants[#{rest.name}]" %>" name="<%= "restaurants[#{rest.name}]" %>" value="1"/>
          <label for="<%= "restaurants[#{rest.name}]" %>">Select</label>
        </div>
      <% end %>
    </div>

  <% end %>

    <%= submit_tag "Add", class: "waves-effect waves-light btn pink lighten-3" %>
  <% end %>

</div>
